.pasisveikinimas {
  text-align: center;
  font-size: 24px;
}

.skaitliukas {
  text-align: center;

  .skaicius {
    font-size: 42px;
    margin: 50px auto 50px;

    &.geras {
      color: #00ff00;
    }

    &.didelis {
      font-size: 55px;
    }

    &.blogas {
      color: #ff0000;
    }
  }

  button {
    border-radius: 0;
    border: none;
    background-color: #cfcfcf;
    font-size: 33px;
    padding: 25px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
}

.reitingoPranesimas {
  text-align: center;
  font-size: 44px;
  margin: 50px auto;
}
